BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 200
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BinPackParameters: true
BinPackArguments: true
BreakBeforeBraces: Attach
NamespaceIndentation: None
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"cpm/'
    Priority: 1
  - Regex: '^<'
    Priority: 2
  - Regex: '.*'
    Priority: 3
AlignAfterOpenBracket: DontAlign
PenaltyBreakBeforeFirstCallParameter: 10000
PenaltyReturnTypeOnItsOwnLine: 10000
PenaltyBreakOpenParenthesis: 10000
